<header>
  <div class="logo">LOGO</div>

  <form action="/" method="POST">
    <input type="text" name="buscar" placeholder="Buscar livro..." />
    <button type="submit">Buscar</button>
  </form>
</header>
